<!--
here we're going to deploy variables
css(in_styling)
-->

{% comment %} {% endcomment %}
{% load static %}
<!DOCTYPE html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{p_title}}</title>
    <link rel="stylesheet" href="{% static 'css/dtl.css'%}" />
    <script></script>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li id ='logo'>{{ p_title }}</li>
        
          {% if user.is_authenticated %}
            <li class="navlink">{{user.name}}</li>
          {% else %} 
            <li class="navlink">login</li>
            <li class="navlink">Register</li>
          {% endif %}
          <li class="navlink">Home</li>
          <li class="navlink">About</li>
        </ul>
      </nav>
    </header>
    <form action="{% url 'registration' %}" id='reg_form' method='POST' enctype='mulitipart/form-data'>
        {% csrf_token %}
        <div class="regdiv">
                <select name="gender" required>
                    <option value="Male">Male</option>
                    <option value="Female">female</option>
                </select>
                <br>
                <input type="text" name="username" placeholder="Username" required>
                <br>
                <input type="email" name="user_email" placeholder="Email" required>
                <br>
                <input type="password" name="password" placeholder="Password" required>
                <br>
                <input placeholder="Confirm Password" required="password" type="password"> 
                <br><br>
                <input type="submit" class="button1" title="Signup" id="signupbtn">
        </div>        
    </form>  
    <footer></footer>
  </body>
</html>
