header{
    background-color: #1b2464;
    color: white;
    min-height: 70px;
    padding-top: 30px;
}
.navlink {
    float: right;
    margin-right: 20px;
}


    header li{
        display: inline-block;
        padding: 0px 20px;
        font-size: larger;
        

    }
header a {
 text-decoration: none;   
    color: white;
}
#logo {
    color: yellow;
    font-size: large;


}
 

#reg_div input {
    width: 80%;
    padding: 15px;
    margin: 20px;
}
.regdiv{
    text-align: center;
}